[Desktop Entry]
Name=PiLator
Comment=Run Windows Apps on Raspberry Pi
Exec=python3 ~/PiLator/launcher/pilator.py
Icon=~/PiLator/icons/pilator_logo.png
Terminal=false
Type=Application
Categories=Utility;
